.grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
}
.main-content{
    margin: 10px;
}
@media screen and (max-width: 1235px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1147px){
    .grid{
        grid-template-columns: 1fr 2fr;
    }
}
@media screen and (max-width:919px){
    .wrapper{
        display: grid;
        place-items: center;
    }
    .grid{
        grid-template-columns:3fr 1fr ;
    }

}